{% assign games = site.data.data.games %}
{% if games %}
<section class="section games-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ games.title }}
  </h2>

  {% if games.intro %}
  <div class="intro">
      <p>{{ games.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for game in games.assignments %}
    <div class="item">
	
        {% if game.link %}
        <li> <a href="{{ game.link }}" target="_blank">{{ game.title }}</a></li>
        {% else %}
        <li>{{ game.title }}</li>
        {% endif %}

	   <div class="game-tagline">Tagline: {{ game.tagline }}</div>
	   <div class="game-year">Year: {{ game.year }}</div>
	   <div class="game-team-size">Team Size: {{ game.team-size }}</div>
	    
		<style>
			.photo {border:4px solid #1b6b6f; padding:15px;}
		</style>
		
			<style>
			.video {border:4px solid #1b6b6f; padding:15px;}
		</style>
		
		 {% if game.logo %}
			<img class="photo" src="{{ site.baseurl }}/assets/images/games/{{ game.logo }}"/>
		{% endif %}
		
		{% if game.teamphoto %}
			<img class="photo" src="{{ site.baseurl }}/assets/images/games/{{ game.teamphoto }}"/>
		{% endif %}
		
		{% if game.video %}
			<div class="game-video"> 			
			<video width="320" height="240" controls>
			 <source src="{{ site.baseurl }}/assets/videos/games/{{ game.video }}"/>
			Your browser does not support the video tag. </video> </div>
		{% endif %}
		   
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
