{% assign games = site.data.data.games %}
{% if games %}
<section class="section games-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ games.title }}
  </h2>

  {% if games.intro %}
  <div class="intro">
      <p>{{ games.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for game in games.assignments %}
    <div class="item">
      <span class="game-title">
        {% if game.link %}
        <a href="{{ game.link }}" target="_blank">{{ game.title }}</a>
        {% else %}
        {{ game.title }}
        {% endif %}
      </span>
	   <div class="game-tagline">Tagline:{{ game.tagline }}</div>
	   <div class="game-year">Year:{{ game.year }}</div>
	   <div class="game-team-size">Team Size:{{ game.team-size }}</div>
	   
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
